/* Styles for App Component */

/* Styling for the navigation bar */
.nav-style {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default list padding */
  display: flex; /* Make the navigation bar a flex container */
  justify-content: center; /* Center the list items horizontally */
  font-weight: bold; /* Make the navigation links bold */
}

.nav-style li {
  margin: 0 10px; /* Add margin to create space between list items */
}

/* Styling for unstyled links */
.nav-style a {
  text-decoration: none; /* Removes text underline for links */
  color: inherit; /* Inherits text color from the parent (usually black) */
  font-weight: bold; /* Make the links bold */
}
