/* Styles for App Component */

/* Styling for the navigation bar */
.nav-style {
  position: fixed;
  top: 0vh;
  margin: 0;
  list-style: none;
  padding: .5vh 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 2.5vh;
  width: 100%;
  text-align: center;
  background-color: white;
}

.nav-style li {
  margin: 0 1%;
}

/* Styling for unstyled links */
.nav-style a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 1vh;
}